* {
  font-family: Helvetica; 
  /* font-size: 32px;
  font-weight: bold;
  color: green; */
  text-align: center;
}

.div-1 {
  /* display: none; doesn't exist, doesn't take up space */
  /* display: hidden; Can't be seen, but takes up space*/
  background-color: red;
  width: 200px;
  height: 150px;
  /* line-height: 150px; */
  z-index: 1;
}

.div-2 {
  background-color: yellow;
  width: 300px;
  height: 250px;
  /* line-height: 250px; */
  position: relative;
  overflow: hidden;
  /* float: right; */
  /* position: relative;
  bottom: 100px;
  z-index: 1; */
}

.div-3 {
  background-color: fuchsia;
  width: 200px;
  height: 200px;
  /* line-height: 200px; */
  position: absolute;
  bottom: 0;
  /* top: 0;
  left: 0; */
  /* clear: right; */
  /* position: relative;
  bottom: 200px; */
}

.child-div {
  background-color: blue;
  font-size: 
  width: 50px;
  height: 50px;
  /* line-height: 50px; */
  color: white;
  font-size: 16px;
  position: absolute;
  bottom: 0;
}